services:
  - type: web
    name: ibnsina-backend
    env: node
    rootDir: backend
    plan: free
    autoDeploy: true
    buildCommand: npm ci && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 3002
      - key: MONGO_URI
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false

